::ng-deep {
    .mat-mdc-menu-panel {
        max-width: 350px !important;
    }
}

.full-width-button {
    width: 100%;
    text-align: left;
    height: 70px;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 8px;
}

.notification-icon {
    margin-right: 8px;
    font-size: 16px;
}

.unread {
    color: rgb(37, 178, 37);
}

.read {
    color: gray;
}

.notification-message {
    flex-grow: 1;
}