.notification-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.notification-icon {
    margin-right: 8px;
    font-size: 16px;
}

.unread {
    color: rgb(37, 178, 37);
}

.read {
    color: gray;
}

.notification-message {
    flex-grow: 1;
}