@use '@angular/material' as mat;
@use 'theme/m3-theme';
@use "theme/mixins/layout-component.theme";

@include mat.elevation-classes();
@include mat.app-background();



$theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

:root {
  @include mat.all-component-themes($dark-theme);
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 5px;
  }
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Symbols+Outlined");
@import 'theme/custom_classes';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.light-theme {
  @include layout-component.theme($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  @include mat.all-component-typographies($theme);
  @include mat.all-component-colors($theme);
}

body.dark-theme {
  @include layout-component.theme($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
  @include mat.all-component-typographies($dark-theme);
}

.snackbar-error {
  background-color: rgb(153, 50, 50) !important;
  color: beige;
  padding: 10px;
  border-radius: 10px;
  
  .mat-mdc-snackbar-surface{
    all: unset!important;
  }

  .mat-mdc-button-touch-target {
    background-color: rgb(153, 50, 50) !important;
    border-radius: 10px;
  }

  .mat-mdc-button-touch-target:hover {
    background-color: #ddd;
    border-radius: 10px;
  }

  .mat-mdc-button {
    color: #ffffff !important;
    font-weight: bold;
  }
}

.snackbar-success {
  background-color: rgb(50, 153, 50) !important;
  color: beige;
  padding: 10px;
  border-radius: 10px;

  .mat-mdc-snackbar-surface {
    all: unset !important;
  }

  .mat-mdc-button-touch-target {
      background-color: rgb(50, 153, 50) !important;
      border-radius: 10px;
    }
  
  .mat-mdc-button-touch-target:hover {
    background-color: #ddd;
    border-radius: 10px;
  }

  .mat-mdc-button {
    color: #ffffff !important;
    font-weight: bold;
  }
}