<form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Event Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Title"
                            formControlName="title"
                        />
                        @if (eventForm.controls['title'].hasError('required')) {
                        <mat-error
                            >Title is <strong>required</strong></mat-error
                        >
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Description"
                            formControlName="description"
                            [defaultValue]=""
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="date"
                            placeholder="Pick a date"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (eventForm.controls['date'].hasError('required')) {
                        <mat-error
                            >Event date is <strong>required</strong></mat-error
                        >
                        } @else if (eventForm.controls['date'].hasError('min'))
                        {
                        <mat-error
                            >The selected date cannot be earlier than today
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            [matTimepicker]="timepicker"
                            formControlName="time"
                            placeholder="Pick a time"
                        />
                        <mat-timepicker-toggle
                            matIconSuffix
                            [for]="timepicker"
                        />
                        <mat-timepicker #timepicker />
                        @if (eventForm.controls['time'].hasError('required')) {
                        <mat-error
                            >Event time is <strong>required</strong></mat-error
                        >
                        }@else if (eventForm.controls['time'].hasError('min')) {
                        <mat-error
                            >The selected date cannot be a past date
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</form>
